@use '../abstracts' as a;

//example usage of new @use rules
// mixins.flex-center ==> That mixins is called namespaces
// you can change namespaces as alias at @use ( '../abstracts/mixins' as m ) for example

main {
  width: 100%;
  height: 100%;
  //@include mixins.flex-center;
}

header {
  position: sticky;
  top: 0;
}

.top-nav {
  position: sticky;
  top: 100px;
  background: rgb(54, 164, 255);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  input[type='search'] {
    width: 30%;
    margin-right: 16px;
  }

  h1 {
    margin-left: 16px;
  }
}

.nav {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 8px;

  a {
    padding-bottom: 8px;
    border-bottom: 1px solid #efefef;
  }
}

.section-container {
  margin: 16px 32px;
}

h2 {
  font-weight: 500;
}

@media screen and (min-width: a.$medium) {
  .nav {
    padding: 0 24px;
    position: sticky;
    top: 100px;
    left: 0;
  }

  .layout-container {
    display: flex;

    .sidebar {
      flex-basis: 20rem;
      flex-grow: 1;
    }

    .section-container {
      flex-basis: 0;
      flex-grow: 999;
      min-width: 50%;
      margin-right: 15rem;
    }
  }
}
